@tailwind base;
@tailwind components;
@tailwind utilities;

/* global font */
:root {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* themes */
/* Default dark theme */
:root {
  --body: #151a2d;
  --Indigo: #26045d;
  --limo: #cfff05;
  --Light-violet: #8c98ff;
  --violet: #7747ff;
  --violet-15: rgba(119, 71, 255, 0.15);
  --white: #ffffff;
  --input: rgba(255, 255, 255, 0.7);
  --red: #f4000f;
  --slider: #aaa7aa;
  --error: #ef233c;
}

/* Light theme variables */
[data-theme='light'] {
  --white: #ffffff;
}

.nav,
.footer,
.main {
  background-color: var(--body);
}
:root,
.sidebar,
.create-job,
th {
  background-color: var(--Indigo);
}

table,
tr,
.create-job {
  border-color: var(--violet);
}
/* .create-job:hover{
  background-color: var(--violet);
} */

/* tr{
  border-width:initial;
} */
tbody,
.theme {
  background-color: var(--violet-15);
}

.label-input {
  color: var(--input);
}

.delete {
  border-color: var(--red);
}

input[type='text'] {
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border-color: var(--white);
}

input[type='text']:focus {
  border-color: var(--violet);
  /* box-shadow: 0 0 5px var(--Light-violet); */
  outline: none;
}

/* range slider */

/* .range{
  bottom:-12px;
} */

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--limo);
  border-radius: 50%;
  cursor: var(--thumb-cursor, pointer);
  position: relative;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.range-slider::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--limo);
  border-radius: 50%;
  border-color: var(--limo);
  cursor: var(--thumb-cursor, pointer);
  transition: all 0.2s ease-in-out;
}

.range-slider::-ms-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--limo);
  border-radius: 50%;
  cursor: var(--thumb-cursor, pointer);
  transition: all 0.2s ease-in-out;
}

.range-slider::-ms-track {
  width: 100%;
  height: 4px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* checkbox style */
input[type='checkbox']:focus {
  outline: none;
  box-shadow: none;
}

/* select style */
select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: no-repeat var(--Indigo);
}
select:focus {
  border-color: var(--violet);
}
